.container {
    background-color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.adding {
    display: flex;
    margin-bottom: 1rem;
}

.addenter {
    flex: 1 1 0%;
    border: 1px solid;
    padding: 0.5rem;
}

.addbutton {
    background-color: blue;
    color: white;
    padding: 0.5rem;
}

.list {
    margin: 0.5rem;
}

.filteroptions {
    color: black;
    text-align: center;

}
.count {
    border-top: 1px solid;
    padding-top: 0.75rem;
}
.leftones {
    display: flex;
    justify-content: space-between;
}